.iframeContainer {
  padding: 19px;
  border: 1px solid #F3EFE4;
}

html {
  position: relative; /* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
  min-height: 100%;
}

body {
  padding-bottom: 74px; /* Padding bottom by footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 11px;
  padding-top: 19px;
  padding-bottom: 38px;
  text-align: center;
  background-color: #F3EFE4;
}

#footer p {
  margin: 0;
  font-size: 19px;
}